@font-face {
    font-family: 'Montserrat variable';
    src:
            url('/assets/fonts/Montserrat-VariableFont_wght.woff2')
            format('woff2 supports variations'),
            url('/assets/fonts/Montserrat-VariableFont_wght.woff2')
            format('woff2-variations');
    font-weight: 100 900;
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-display: swap;
    font-weight: 500;
    src: url('/assets/fonts/Montserrat-medium.woff2') format('woff2'),
        url('/assets/fonts/Montserrat-medium.woff') format('woff');
}
