h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    line-height: 1.2;
    //font-weight: 460;
    text-rendering: optimizeLegibility;
    font-family: $font-family-titles;

    @supports (font-variation-settings: normal) {
        font-family: $font-family-titles-vars;
    }
}

h1 {
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 400;

    @include mq(lg) {
        font-size: 4.5rem;
    }
}

h2 {
    font-size: 2.5rem;
    font-weight: 460;
}

h3 {
    font-size: 1.75rem;
    font-weight: 460;
}
h4{
    margin-top: .5rem;
    margin-bottom: 0.2rem;
    font-size: 1.3rem;
}
h4,
h5,
h6 {
    font-weight: 500;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: from-font;

    color: $primary-color;
    color: var(--primary-color, $primary-color);

    @include hover-focus {
        text-decoration: underline;
    }
}

.lead {
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1rem;
    //max-width: 60ch;

    //@include mq(md) {
    //    font-size: 1.5rem;
    //}
}
