.bulletlist {
    list-style: none;

    li {
        position: relative;
        padding-left: 1.5em;

        &::before {
            content: '';
            display: block;
            width: 0.5em;
            height: 0.5em;
            border-radius: 50%;
            background-color: $secondary-color;
            background-color: var(--secondary-color, $secondary-color);
            transform: translate(-50%, 20%);
            position: absolute;
            top: 0.5em;
            left: 0.5em;
        }
    }

    &--columns {
        columns: 2;
        column-gap: 16px;

        @include mq(md, true)  {
            columns: 3;
        }
    }
}
