.entry {
    &__header {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            margin-bottom: 0.5rem;
        }
    }

    &__time {
        color: $gray-middle;
        font-size: 0.875rem;
        letter-spacing: 0.125em;
        text-transform: uppercase;
        order: -1;
        margin-bottom: 0.25rem;
    }

    &__title {
    }

    &__organization {
        font-size: 1.125rem;
    }

    &__mode {
        color: $gray-middle;
    }

    &__content {
        //max-width: 60ch;
        * + * {
            margin-top: .75em;
        }

        ul {
            padding-left: initial;
            list-style: circle;
            & > li::marker {
                color: $gray-middle;
            }
        }
    }
}
