.language-list{
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  gap: 10px;
  z-index: 999;
  &__link{
    display: block;
    padding: 6px;
  }
  &__icon{
    display: block;
    border-radius: 2px;
    box-shadow: 2px 3px 12px 1px rgba(102, 102, 102, 0.6);
  }

  @include mq(lg) {
    position: fixed
  }
}

