.skilllist {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0;
    list-style: none;

    &__item {
        font-size: 0.875rem;
        padding: 0.188rem 0.625rem;
        border: 1px solid $brand-green;
        border-radius: 0.25rem;
        color: $brand-green;

        &--soft {
            font-style: italic;
            border-style: dotted;
        }
    }
}
