[build]
    command = "npm run clean && npm run eleventy:prod:netlify"
    publish = "dist"

[context.production.environment]
    ELEVENTY_ENV = "production"
    NODE_VERSION = "16"
    SITE_URL = "https://resume.elkin.dev/"

[[headers]]
    for = "/*"
    [headers.values]
        X-Frame-Options = "DENY"
        X-XSS-Protection = "1; mode=block"
        X-Content-Type-Options = "nosniff"
        Referrer-Policy= "no-referrer-when-downgrade"



[[redirects]]
  from = "/"
  to = "/en-GB"
  status = 301
