---
permalink: index.html
eleventyExcludeFromCollections: true
---
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="0; url={{ '/en-GB/' | url }}">
    <link rel="canonical" href="{{ '/en-GB/' | url }}">
</head>
<body>
    <p>Redirecting to <a href="{{ '/en-GB/' | url }}">English version</a>...</p>
</body>
</html>
