---
layout: base
---

<main class="main container">

    {% set introduction = collections["introduction_" + locale] %}
    {% if introduction.length %}
        {% set intro = introduction|first %}
        <section class="section" id="section-introduction" data-spellcheck>
            <h2 class="section__title">{{ 'AboutMe' | i18n }}</h2>
            <div class="lead p-summary">
                {{ intro.templateContent | safe }}
            </div>

            {% set content = collections["content_" + locale] %}
            {% if content.length %}
                {% set custom = content|first %}
                <div  data-spellcheck>
                    {#            {% if custom.data.title %}#}
                    {#                <h2 class="section__title">{{ custom.data.title }}</h2>#}
                    {#            {% endif %}#}
                    <div class="markdown">
                        {{ custom.templateContent | safe }}
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}

    {% if author.coreSkills %}
        <section class="section section--half" id="section-core-skills">
            <h2 class="section__title">{{ 'coreSkills' | i18n }}</h2>
            <ul class="skilllist">
                {% for skill in author.coreSkills.hard %}
                    <li class="skilllist__item p-skill">{{ skill }}</li>
                {% endfor %}
                {% for skill in author.coreSkills.soft %}
                    <li class="skilllist__item skilllist__item--soft p-skill">{{ skill }}</li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    <section class="section" id="section-experience">
        <h2 class="section__title">{{ 'experience' | i18n }}</h2>
        {% set entries = collections["work_" + locale] %}
        {% set microformat = "p-experience" %}
        {% include "entrylist.njk" %}
    </section>

    {% if author.hardSkills or author.softSkills %}
        <section class="section" id="section-skills">
            <h2 class="section__title">{{ 'skills' | i18n }}</h2>
            {% if author.hardSkills %}
                <h3 class="skilllist__subtitle">{{ 'hardSkills' | i18n }}</h3>
                <ul class="skilllist">
                    {% for skill in author.hardSkills %}
                        <li class="skilllist__item p-skill">{{ skill }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if author.softSkills %}
                <h3 class="skilllist__subtitle">{{ 'softSkills' | i18n }}</h3>
                <ul class="skilllist">
                    {% for skill in author.softSkills %}
                        <li class="skilllist__item skilllist__item--soft p-skill">{{ skill }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </section>
    {% endif %}

    <section class="section" id="section-education">
        <h2 class="section__title">{{ 'education' | i18n }}</h2>
        {% set entries = collections["education_" + locale] %}
        {% set microformat = "p-education" %}
        {% include "entrylist.njk" %}
    </section>

    {% if author.hobby or author.languages %}
        <div class="grid grid--2col">
            {% if author.hobby %}
                <section class="section section--half" id="section-skills">
                    <h2 class="section__title">{{ 'interests' | i18n }}</h2>
                    <ul class="bulletlist">
                        {% for hobby in author.hobby %}
                            <li class="p-skill">{{ hobby | i18n }}</li>
                        {% endfor %}
                    </ul>
                </section>
            {% endif %}

            {% if author.languages %}
            <section class="section section--half" id="section-languages">
                <h2 class="section__title">{{ 'languages' | i18n }}</h2>
                <ul class="bulletlist">
                {% for language in author.languages %}
                    <li class="p-skill">{{ language.name | i18n }}{#({{ language.level | i18n }})#}</li>
                {% endfor %}
                </ul>
            </section>
            {% endif %}
        </div>
    {% endif %}

</main>
